{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Analizar Municipios de Antioquia</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">   
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">
            ExploreAntioquia
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'planear_viaje' %}">Planear Viaje</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'explorar_municipios' %}">Explorar Municipios</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div>
        {% if user.is_authenticated %}
            <div>
                <form method="POST">
                    {% csrf_token %}
                    <label for="municipio">Selecciona un Municipio:</label>
                    <select id="municipio" name="municipio">
                        <option value="-" selected>-</option>  <!-- Opción por defecto -->
                        {% for municipio in municipios %}
                            <option value="{{ municipio }}">{{ municipio }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Planear</button>
                </form>
            </div>
            {% if mapa_calor_base64 %}
                <div>
                    <img src="data:image/png;base64,{{ mapa_calor_base64 }}" alt="Mapa de Temperaturas">
                </div>
            {% endif %}
        {% else %}
            <p>Logueate para desbloquear la funcion</p>
        {% endif %}
    </div>
</body>
</html>