{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Analizar Municipios de Antioquia</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">
            ExploreAntioquia
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'hoteles' %}">Hoteles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'turismo' %}">Turismo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'planear_viaje' %}">Planear Viaje</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'explorar_municipios' %}">Explorar Municipios</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <!-- Se debe iniciar sesion para usar esta funcion -->
        {% if user.is_authenticated %}
            <div class="card">
                <div class="card-header">
                    Planear Viaje
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="municipio">Selecciona un Municipio:</label>
                            <select id="municipio" name="municipio" class="form-control">
                                <option value="-" selected>-</option>  <!-- Opcion por defecto -->
                                <!-- Dentro del select se agregaran como opciones todos los municipios -->
                                {% for municipio in municipios %}
                                    <option value="{{ municipio }}">{{ municipio }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Planear</button>
                    </form>
                </div>
            </div>
            <!-- Si se ha seleccionado un municipio, existira un mapa_calor -->
            {% if mapa_calor_base64 %}
                <div class="mt-4">
                    <img src="data:image/png;base64,{{ mapa_calor_base64 }}" alt="Mapa de Temperaturas" class="img-fluid rounded">
                </div>
            {% endif %}
            {% if restaurantes %}
                <div class="container mt-5">
                    <h2 class="mb-4">Restaurantes Recomendados en {{ nombre_municipio }}</h2>
                    <div class="list-group"></div>
                </div>
                <!-- Iterar sobre todos los restaurantes -->
                {% for restaurante in restaurantes %}
                    <div class="list-group-item list-group-item-action">
                        <h5 class="mb-1">{{ restaurante.nombre }}</h5>
                        <p class="mb-1">{{ restaurante.direccion }}</p>
                        <small>Rating: <span class="badge badge-primary">{{ restaurante.rating }}</span></small>
                    </div>
                {% endfor %}
            {% endif %}
        {% else %}
            <div class="alert alert-warning" role="alert">
                Por favor, inicie sesión para desbloquear esta función.
            </div>
        {% endif %}
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
