option_settings:
  aws:elasticbeanstalk:application:environment:
    SECRET_KEY: "django-insecure-w&zjrn!#eu5-1+aiyg!-w^36t*!%j@&hfy9hx(ov%$1zrz_bvj"
    DEBUG: "False"  # O "true" si estás en modo desarrollo
    DB_NAME: "exploreantioquiadb"
    DB_USER: "admin"
    DB_PASSWORD: "jkl159-78"
    DB_HOST: "exploreantioquiadb.czg0uoeayhi2.us-west-2.rds.amazonaws.com"
    DB_PORT: "3306"
