packages:
  yum:
    git: []  

files:
  "/etc/yum.repos.d/extra.repo":
    mode: "000644"
    owner: root
    group: root
    content: |
      [extra]
      name=Extra Packages for Enterprise Linux 7 - $basearch
      baseurl=http://mirror.centos.org/centos/7/updates/$basearch/
      gpgcheck=1
      gpgkey=http://mirror.centos.org/centos/7/updates/$basearch/RPM-GPG-KEY-CentOS-7

commands:
  01_install_pkg_config:
    command: "yum install -y pkg-config"
  01_check_versions:
    command: "pip freeze > /tmp/pip-freeze.log"
  02_print_logs:
    command: "cat /tmp/pip-freeze.log"
  03_check_yum_repos:
    command: "yum repolist"
  04_install_dependencies:
    command: |
      pip install -r /path/to/requirements.txt > /tmp/pip-install.log
      cat /tmp/pip-install.log

