packages:
  yum:
    git: []  
    pkg-config: []

files:
  "/etc/yum.repos.d/extra.repo":
    mode: "000644"
    owner: root
    group: root
    content: |
      [extra]
      name=Extra Packages for Enterprise Linux 7 - $basearch
      baseurl=http://mirror.centos.org/centos/7/updates/$basearch/
      gpgcheck=1
      gpgkey=http://mirror.centos.org/centos/7/updates/$basearch/RPM-GPG-KEY-CentOS-7

commands:
  01_install_pkg_config:
    command: "yum install -y pkg-config"
